{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    ["styled-components-require"],
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }],
    ["module-alias", [
      {
        "src": "./components",
        "expose": "@components"
      },
      {
        "src": "./utils",
        "expose": "@utils"
      },
      {
        "src": "./utils/assets.js",
        "expose": "@assets"
      }
    ]]
  ]
}
